# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
/.next/
/out/
/build
next-env.d.ts

# Production
/dist

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# OS / editor noise
.DS_Store
Thumbs.db
.idea/
.vscode/

# Vercel
.vercel
